div {
    font-style: italic;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: aqua;
}

.common {
    color: rgb(255, 0, 0);
}    

div p {
    color: rgb(255, 82, 82);
}

div p.special {
    color: rgb(40, 219, 24);
}    

[title] {
    color: saddlebrown;
}

a[href] {
    color: rgb(160, 0, 139);
}

a[href="https://google.com/"] {
    color: rgb(240, 221, 49);
}

h3 + img {
    width: 300px;
}

a:hover {
    text-decoration: none;
}

h3::first-letter{
    color: brown;
}

