h1 {
    border: 3px solid grey;
    padding: 0;
    margin: 30px;
    text-align: center;
    line-height: 40px; 
    /* Универсальное свойство border позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента. Значения могут идти в любом порядке, разделяясь пробелом, браузер сам определит, какое из них соответствует нужному свойству.
    Для установки границы только на определенных сторонах элемента, воспользуйтесь свойствами border-top, border-bottom, border-left, border-right */
}
р3 {margin: 0;}

span {
    font-weight: 50px;
}
strong {
    font-weight: 15px;
}
#skill {
    color: rgb(150, 33, 33);
} 

img {
    width: 500px;
    margin: 50px;
    /* Устанавливает величину отступа от каждого края элемента. 
    Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента
    Разница в количестве передаваемых значений:
    1 значение - Отступы для всех сторон
    2 значение - Первое - снизу и сверху, второе — слева и справа
    3 значение - Первое - сверху, второе — слева и справа, третье — снизу.
    4 значение - Поочередно по часовой стрелке - верх, право, низ, лево

    Для блочного элемента также может быть установлено:
    auto - Указывает, что размер отступов будет автоматически рассчитан браузером.
    inherit - Наследует значение родителя.*/
}
