div {
    background-color: lightblue;
}

button.anim {
    background-color: whitesmoke;
    position: fixed; /* Зафиксирован на экране*/
    z-index: 50; /* Поднятие в слоях */
    width: 120px;
    left: 10px;
    top: 10%;
    transform: translateY(-50%); /* Расположение по центру контейнера, в котором находится элемент */
    animation-name: anim; /* Задание имени для анимации элемента. Для более сложных комбинаций и "шагов", тогда как по умолчанию в данном примере задаются только ограниченные шани анимации */
    animation-duration: 3s; /* Время или "скорость" выполнения анимации */
    animation-timing-function: ease-in-out; /* Вариант анимации */
    /* animation-iteration-count: 3; */ /* Количество раз выполнения анимации */
    animation-iteration-count: infinite; /* Бесконечное проигрывания анимации */
    animation-delay: 3s; /* Задержка перед выполнением анимации*/
    animation-direction: alternate; /* Цикличный повтор анимации (loop) */
    /* Представленные описания зачастую указываются через пробел в параметрах единого свойства animation*/
    /* animation: anim 3s ease-in-out infinite alternate */
}

@keyframes anim {
    from {
        left: 10px; /* Начальное положение 10 пикселей от края */
        border-radius: 0px; /* Изначальный радиус 0 */
    }
    to {
        left: calc(100% - 130px); /* Направление движения или точнее, то, к чему приходит анимация ("начало выполнения анимации слева") на всю ширину контейнера за минусом длины элемента, чтобы он не уходил за край */
        border-radius: 30px; /* Скругление бордера в результате выполнения анимации */
        transform: rotate(45deg) scale(0.8); /* rotate - вращение элемента; scale - изменение размера элемента (1.0 -исходный размер). В результате выполнения анимации*/
        background-color: cyan; /* Изменение цвета элемента в результате выполнения анимации */
        /* animation-fill-mode: forwards */ /* Фиксирование анимации по окончанию */
    }
}

button:hover {
    animation-play-state: paused; /* Пауза проигрывания анимации, при наведении на элемент (и при клике) */
}