h4 {
    margin: 40px 0px 0px 0px;
}
h2 {
    margin: 80px 0px 0px 0px;
}
hr {
    margin-bottom: 80px;
}
pre {
    background-color: #becfff;
    border-radius: 8px;
    display: inline-block;
    padding: 4px 8px 0px 8px;
    margin-bottom: 0px;
}
.separator {
    height: 40px;
}




.container_flex {
    border: 4px dashed #95a8ff;
    background-color: #f8faff;
    display: flex;
    resize: both;
    overflow: auto;
    border-radius: 12px;
    margin-bottom: 40px;
}
.container_inline-flex {
    border: 4px dashed #95a8ff;
    background-color: #f8faff;
    display: inline-flex;
    resize: both;
    overflow: auto;
    border-radius: 12px;
    margin-bottom: 40px;
}
.flex-item {
    font: 600 20px "Roboto", sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 4px 8px;
    border-radius: 4px;
}
.item-1 {
    background-image: linear-gradient(45deg, #ff8177, #cf556c);
}
.item-2 {
    background: linear-gradient(45deg, #84fab0, #8fd3f4);
}
.item-3 {
    background: linear-gradient(45deg, #a6c0fe, #f68084);
}
.item-4 {
    background: linear-gradient(45deg, #d4fc79, #96e6a1);
}
.item-5 {
    background: linear-gradient(45deg, #43e97b, #38f9d7);
}
.item-6 {
    background: linear-gradient(45deg, #a18cd1, #fbc2eb);
}
.item-7 {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
} 
.item-8 {
    background: linear-gradient(45deg, #e1eec3, #f05053);
}



.container_height_100vh {
    height: 100vh;
}
.container_height_400 {
    height: 400px;
}
.container_height_600 {
    height: 600px;
}
.container_height_200 {
    height: 200px;
}
.container_height_160 {
    height: 160px;
}
.container_height_90 {
    height: 90px;
}
.el_width_40 .flex-item {
    width: 40px;
}
.el_width_200 .flex-item {
    width: 200px;
}
.el_width_300 .flex-item {
    width: 300px;
}




/* flex-direction - ориентация главной оси */
.flex_row-revers {
    flex-direction: row-reverse;
}

.flex_column {
    flex-direction: column;
}

.flex_column-reverse {
    flex-direction: column-reverse;
}

.example_navigation .flex-item {
    flex: 1;
}
@media screen and (max-width: 960px) {
    .example_navigation {
        flex-direction: column;
    }
}




/* flex-wrap - перенос элементов */
.flex_wrap {
    flex-wrap: wrap;
}

.flex_wrap-reverse {
    flex-wrap: wrap-reverse;
}

.inherit_example .flex_inherit {
    flex-wrap: inherit;
    display: inherit;
}



/* Гибкий элемент карточек на всю ширину */
.el_with_margin_5 .flex-item {
    margin: 5px;
}
.el_layout_3col .flex-item {
    width: 33.33%;
}
.el_layout_3col_culc_margin_and_padding .flex-item {
    width: calc(33.33% - 26px);
}
.set_padding_5px {
    padding: 5px;
}


.el_layout_3col_culc_padding .flex-item {
    width: calc(33.33% - 16px);
}
.el_box_sizing_border-box .flex-item {
    box-sizing: border-box;
}


.standart_overflow {
    overflow: visible;
}




.flex_flex-flow1 {
    flex-flow: column wrap;
    height: 150px;
}
.flex_flex-flow1 .flex-item {
    width: 150px;
}

.flex_flex-flow2 {
    flex-flow: column wrap;
    height: 100px;
}
.flex_flex-flow2 .flex-item {
    width: 150px;
}




.gap_example {
    display: flex;
    gap: 20px;
}
.gap_example > div {
    width: 50%;
    gap: 20px;
} 
.gap_example > div .flex-item {
    width: calc(33.33% - 36px);
}




.flex_just_flex-start {
    justify-content: flex-start;
}
.flex_just_flex-end {
    justify-content: flex-end;
}
.flex_just_center {
    justify-content: center;
}
.flex_just_space-between {
    justify-content: space-between;
}
.flex_just_space-around {
    justify-content: space-around;
}
.flex_just_space-evenly {
    justify-content: space-evenly;
}




.flex_al_stretch {
    align-items: stretch;
}
.flex_al_flex-start {
    align-items: flex-start;
}
.flex_al_flex-end {
    align-items: flex-end;
}
.flex_al_center {
    align-items: center;
}
.flex_al_baseline {
    align-items: baseline;
}
.dif_size_elements .flex-item:nth-child(2n) {
    font-size: 2rem;
}
.dif_size_elements .flex-item:nth-child(3n) {
    font-size: 3rem;
}





.flex_align_content_stretch {
    align-content: stretch;
}
.flex_align_content_flex-start {
    align-content: flex-start;
}
.flex_align_content_flex-end {
    align-content: flex-end;
}
.flex_align_content_center {
    align-content: center;
}
.flex_align_content_space-between {
    align-content: space-between;
}
.flex_align_content_space-around {
    align-content: space-around;
}
.flex_align_content_space-evenly {
    align-content: space-evenly;
}




.align_self_stretch .item-1 {
    align-self: stretch;
}
.align_self_flex-start .item-2 {
    align-self: flex-start;
}
.align_self_flex-end .item-3 {
    align-self: flex-end;
}
.align_self_center .item-4 {
    align-self: center;
}
.align_self_baseline .item-5 {
    align-self: baseline;
}
.dif_size_align-self .flex-item:nth-child(6n) {
    align-self: baseline;
    font-size: 3rem;
}




.flex_flex-grow1 .flex-item{
    flex-grow: 1;
}
.flex_flex-grow0_23 .flex-item {
    flex-grow: 0.23;
}
.flex_flex-grow1_for_el3 .item-3 {
    flex-grow: 1;
}
.flex_flex-grow2_for_el2 .item-2 {
    flex-grow: 2
}
.flex_flex-grow2_for_el3 .item-3 {
    flex-grow: 2;
}
.flex_flex-grow10_for_el3 .item-3 {
    flex-grow: 10;
}




.flex_flex-shrink2_for_el2 .item-2 {
    flex-shrink: 2;
}
.flex_flex-shrink3_for_el3 .item-3 {
    flex-shrink: 3;
}




.flex_flex-basis40 .flex-item {
    flex-basis: 40px;
}
.flex_flex-basis100 .flex-item {
    flex-basis: 100px;
}
.el_special_flex_1_0_100px .flex-item {
    flex: 1 0 100px;
}




.el_special_flex_0_1_200px .flex-item {
    flex: 0 1 200px;
}
.el_special_flex_0_1_200px .item-1 {
    flex: 1;
}




.flex_order_el3_1position .item-3 {
    order: -3;
}
.flex_order_el2_2position .item-2 {
    order: -2;
}
.flex_order_el4_3position .item-4 {
    order: -1;
}

.notcorrect_order1 .item-3 {
    order: -1;
}
.notcorrect_order1 .item-2 {
    order: 0;
}
.notcorrect_order1 .item-4 {
    order: 1
}

.notcorrect_order2 .item-7,
.notcorrect_order2 .item-6,
.notcorrect_order2 .item-5 {
    order: 2
}

.example_order_for_menu .flex-item {
    font-size: 2rem;
    flex-grow: 1;
}
@media screen and (max-width: 960px) {
    .example_order_for_menu {
        flex-direction: column;
    }
    .example_order_for_menu .item-2 {
        order: -1;
    }
}




/* Трехколоночный лейаут страницы */
.big_font_size {
    font-size: 2rem;
}
.three_layout_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    display: flex;
    flex: 1;
}
@media screen and (max-width: 960px) {
    main {
        flex-direction: column;
    }
    main section {
        order: -1;
    }
}
aside {
    flex: 1;
}
section {
    flex: 3;
}




/* Гибкая медиа карточка */
.flex_card {
    background-color: #fffbc4;
    display: flex;
    align-items: flex-start;
    gap: 1em;
}
.flex_card .content {
    flex: 1;
}
.flex_card img {
    border-radius: 8px;
}




/* Сайдбар с разделенной навигацией */
.flex_sidebar {
    display: flex;
    min-height: 100vh;
}
.flex_sidebar aside {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}









/* Трехколоночный лейаут с динамической карточкой в потоке*/
.set_spec_container {
    width: 100%;
    padding: 40px 80px;
    box-sizing: border-box;
}
.set_spec_items .flex-item {
    flex-grow: 1;
    flex-shrink: 0;
    width: calc(33.33% - 60px);
    height: 120px;

    margin: 20px 20px;
}
.blurb_element .flex-item:nth-child(13n) {
    margin: 20px 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}




