/*Селектор для применения стилей ВСЕМ элементам документа*/
* {
    margin: 0;
    padding: 0;
}

/*Селектор с наследованием, для применения стилей только вложенным элементам*/
* section {
    color: rgb(0, 141, 160);
}


/*Селекторы по тегу, по классу, по тегу с классом*/
p {
    font-family: monospace;
}
.ExampleClass1 {
    color: green;
}
p.ExampleClass2 {
    color: greenyellow;
}


/*Селектор по мультиклассу*/
small {
    color: rgb(211, 129, 23);
}
.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.decor {
    background-color: aquamarine;
}

/*Селектор по id*/
#IdentID1 {
    color: pink;
}

/*Селектор по атрибуту, по тегу с атрибутом, по тегу с атрибутом и значением*/
[title] {
    color: rgb(226, 160, 243);
}
p[translate] {
    color: rgb(195, 0, 255);
}
p[title="ExampleTitle2"] {
    color: rgb(104, 44, 173);
}

/*Селектор по вложенному тегу на любом уровне вложенности*/
.container1 p {
    color: pink;
}

/*Селектор по вложенному тегу только на первом уровне вложенности*/
.container2 > p {
    color: pink;
}

/*Селектор по первому соседнему тегу*/
.containerA + li {
    color: red;
}

/*Селектор по всем последующим родственным тегам*/
.containerB ~ li {
    color: red;
}