/*Селектор для применения стилей ВСЕМ элементам документа*/
* {
    margin: 0;
    padding: 0;
}


/*Селектор с наследованием, для применения стилей только вложенным элементам*/
* section {
    color: rgb(0, 141, 160);
}


/*Групповой составной селектор*/
h5, h6, span {
    background-color: aqua;
}


/*Селекторы по тегу, по классу, по тегу с классом, по мультиклассу*/
small {
    color: rgb(211, 129, 23);
}
.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
small.decor {
    background-color: aquamarine;
}
.text.decor {
    margin-left: 10px;
}


/*Селектор по id*/
#IdentID1 {
    color: pink;
}


/*Селектор по атрибуту, по тегу с атрибутом, по тегу с атрибутом и значением*/
[title] {
    color: rgb(226, 160, 243);
}
p[translate] {
    color: rgb(195, 0, 255);
}
p[title="ExampleTitle2"] {
    color: rgb(104, 44, 173);
}


/*Селектор потомка (контекстный селектор), для вложенного элемента на любом уровне вложенности*/
.container1 p {
    color: pink;
}


/*Селектор первого прямого потомка, для вложенного элемента на первом уровне вложенности*/
.container2 > p {
    color: pink;
}


/*Селектор по первому следующему тегу после начального*/
.containerA dl dt + dd {
    color: red;
}


/*Селектор по всем последующим тегам, того же контейнера, что и начальный тег*/
.containerB dl dt ~ dd {
    color: red;
}


